@import url(https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap);
:root {
  --mainTextColor-dark: #fff;
  --secondaryTextColor-dark: #adb0b1;
  --mainLinkColor-dark: rgb(30, 190, 214);
  --mainBorderColor-dark: #2b3031;
  --mainBgColor-dark: #131415;
  --mainTextColor: var(--mainTextColor-dark);
  --secondaryTextColor: var(--secondaryTextColor-dark);
  --mainLinkColor: var(--mainLinkColor-dark);
  --mainBorderColor: var(--mainBorderColor-dark);
  --mainBgColor: var(--mainBgColor-dark);
}
* {
  font-family: "Readex Pro";
  line-height: 1.5em;
  box-sizing: border-box;
  color: var(--mainTextColor);
}
body {
  background-color: var(--mainBgColor);
}
p,
span,
li {
  color: var(--secondaryTextColor);
  font-size: 1em;
}
a {
  text-decoration: none;
  color: var(--mainLinkColor);
  font-weight: 500;
}
li {
  line-height: 1.9em;
}
#container--main {
  max-width: 700px;
  margin: 0 auto;
  padding: 1em;
}
.section--page {
  padding-top: 1em;
  padding-bottom: 1em;
}
#wrapper--hero {
  display: flex;
  align-items: center;
  gap: 4em;
}
#bio,
a {
  font-weight: 300;
}
#name {
  font-size: 32px;
}
#user-name {
  font-size: 12px;
  margin: -35px 0px 0px 0px;
}
#profile-pic {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}
#email {
  color: var(--mainTextColor);
}
#socials--list {
  display: flex;
  justify-content: space-between;
  column-gap: 5px;
  flex-wrap: wrap;
}
#socials--list a {
  font-weight: 300;
  color: var(--secondaryTextColor);
  font-size: 0.9em;
  transition: 0.3s;
}
#socials--list a:hover {
  font-weight: 100;
  color: var(--mainLinkColor);
  font-size: 0.9em;
}
#qualifications--list {
  list-style: none;
}
#wrapper--techstack__items {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  font-size: 0.9em;
}
.card--techstack {
  border: 1px solid var(--mainBorderColor);
  border-radius: 5px;
  padding: 0.5em 1em;
  align-items: center;
}
.card--work-history {
  border-left: 1px solid var(--mainBorderColor);
  margin-top: 3em;
  margin-bottom: 3em;
  padding-left: 2em;
}
.line-break {
  background-color: var(--mainBorderColor);
  height: 1px;
}
.card--project {
  padding-top: 1em;
  padding-bottom: 1em;
  border-top: 1px solid var(--mainBorderColor);
}
.card--project a {
  color: var(--mainTextColor);
  transition: 0.3s;
}
.card--project a:hover {
  color: rgb(30, 190, 214);
}
@media (max-width: 600px) {
  .section--page {
    padding-top: 1em;
    padding-bottom: 1em;
  }
  #wrapper--hero {
    gap: 1em;
    flex-direction: column;
  }
  #profile-pic {
    width: 200px;
    height: 200px;
  }
  .card--work-history {
    border-left: none;
    padding-left: 0;
  }
}
.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #2b3031;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.button:hover {
  background-color: #555;
}
.button img {
  margin-left: 5px;
  fill: currentColor;
  height: 16px;
  width: 16px;
}
.sponsor img {
  margin-top: 2px;
  margin-bottom: -2px;
  margin-right: 2px;
  margin-left: -3px;
  fill: currentColor;
  height: 18px;
  width: 18px;
}
.sponsor {
  display: inline-block;
  padding: 10px 20px;
  background-color: #2b3031;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.sponsor:hover {
  background-color: #555;
}
#go-top-btn {
  display: none;
  position: fixed;
  bottom: -50px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #2b3031;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  transition: bottom 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
#go-top-btn:hover {
  background-color: #555;
}
#go-top-btn img {
  width: 25px;
  height: 25px;
  fill: #fff;
}
#goBottom {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #2b3031;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  transition: bottom 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
#goBottom:hover {
  background-color: #555;
}
#goBottom img {
  width: 25px;
  height: 25px;
  fill: #fff;
}
#socials--list {
  padding: 10px;
}
#socials--list img {
  width: 25px;
  height: 25px;
  fill: #fff;
}
